@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));




:root {
  font-family: "Poppins", sans-serif;
  color-scheme: dark;
}

.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-visible-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}